#grid{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    width: 499px;
}

#label {
    position:relative;
    font-size:20px;
    top: -40px;
    left: 10px;
    z-index: 1;
}

#check  {
    position: relative;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:black 1px solid;

}

#check:checked {
	background-color: green;
}